<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragment/fragment :: fragment (~{::body},'detalle')}">
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <h2>Detalle Pedido</h2><br/>
            <table id="example" class="table table-bordered table-responsive" style="width: 100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Producto</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="detalle : ${detalles}">
                    <td th:text="${detalle.id}"></td>
                    <td th:text="${detalle.producto.nombre}"></td>
                    <td th:text="${detalle.producto.descripcion}"></td>
                    <td th:text="${detalle.precio}"></td>
                    <td th:text="${detalle.cantidad}"></td>
                </tr>
                </tbody>
            </table>
            <p th:text="${mensaje}"/>
        </div>
    </div>
</div>
</body>
</html>
